.App {
  text-align: center;
}


.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}


.home-container {
  margin-top: 2px;
  text-align: center;
  background-color: #88aaddb2;
  background-size: cover;
  font-size: 16pt;
  padding: 20px;
  text-align: left;
  color: #000000;
  height: 400px;
}
.home-container > h1{
  margin: 50px 40px 40px 30px;
  color: aliceblue;
}
.home-container > p{
  font-family:'Lucida Sans', 'Lucida Sans Regular';
  font-size: 20px;
  padding: 20px;
  margin: auto;
  margin-left: 15px;
  color: rgb(0, 0, 0);
}

.home-container > button {
  margin-left: 20px;
}

@media screen and (max-width: 800px){
.home-container{
  background-image: url("../public/images/homeImage.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
}
@media screen and (max-width: 800px) {
  .App {
      width: 100%;
  }
}
.homeI{
  height: 400px;
  width: 650px;
  position: static;
  margin: -200px 50px 2px 700px;
  /* top: 80px;
  left:700px;
  right:700px; */
}
@media screen and (max-width: 800px) {
  .homeI {
      /* background: url(../../../public/images/homeImage.png); */
      width: 100%;
      display: none;
      margin: auto;
  }
}
.bg-grey{
  background-color: rgb(34, 33, 33);  /* navbar bg */
}
.card{
  width: 100%;
  height: 200px;
  background: rgb(11, 175, 11);
  color: rgb(139, 126, 212);
  font-size: 30px;
  margin: 20px;
  /* displayig no. on card */
  display: flex;  
  justify-content: center;
  align-items: center;
}
.description{
  margin-left: 80px;
  margin-top: 100px;
}
.carousel{
  position: absolute;
  top:200px;
  padding:20px ;
}
.cardOne{
  margin: 20px;
  /* displayig no. on card */
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.cardTwo{
  width: 100%;
  height: 200px;
  margin: 20px;
  /* displayig no. on card */
  display: flex;  
  justify-content: center;
  align-items: center;
}