.App {
  text-align: center;
}


.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}


.home-container {
  margin-top: 2px;
  text-align: center;
  background-color: #88aaddb2;
  background-size: cover;
  font-size: 16pt;
  padding: 20px;
  text-align: left;
  color: #000000;
  height: 400px;
}
.home-container > h1{
  margin: 50px 40px 40px 30px;
  color: aliceblue;
}
.home-container > p{
  font-family:'Lucida Sans', 'Lucida Sans Regular';
  font-size: 20px;
  padding: 20px;
  margin: auto;
  margin-left: 15px;
  color: rgb(0, 0, 0);
}
@media screen and (max-width: 800px){
.home-container{
  background-image: url("../public/images/homeImage.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  
}
}
@media screen and (max-width: 800px) {
  .App {
      width: 100%;
  }
}
.homeI{
  height: 400px;
  width: 650px;
  position: static;
  margin: -200px 50px 2px 700px;
  /* top: 80px;
  left:700px;
  right:700px; */
}
@media screen and (max-width: 800px) {
  .homeI {
      /* background: url(../../../public/images/homeImage.png); */
      width: 100%;
      display: none;
      margin: auto;
  }
}
.bg-grey{
  background-color: rgb(34, 33, 33);  /* navbar bg */
}

.btn-warning{
  position: static;
  top:350px;
  margin: 40px;
  padding:20px;
}


.description{
  margin-left: 80px;
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .description {
      /* background: url(../../../public/images/homeImage.png); */
      margin-left: 50px;
      margin-top: 300px;
  }
}

.carousel{
  position: absolute;
  top:200px;
  padding:20px ;
}



.LoginForm{
  position: static;
	width: 80%;
	display: grid;
	justify-content: space-evenly;
	/* padding: 40px; */
	/* background-color: #88aaddb2; */
  outline: #88aaddb2 solid 10px;
	margin: 15px auto;
	box-shadow: 7px 5px 3px rgba(161, 160, 160, 0.322);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 100px;
 
}
.LoginForm h1 {
 
    font-size: 20pt;

    font-weight: bold;
    padding-bottom: 50px;
    
}

.register-page  h1{
  font-size: 20pt;
  font-weight: bold;
}
.RegisterForm {
  position:static;
  width: 20%;
  display:grid;
  justify-content: space-evenly;
  padding: 20px;
  /* background-color: #88aaddb2; */
  
  margin: 15px auto;
  box-shadow: 7px 5px 3px rgba(161, 160,160,0.322);
  border-radius: 10px;
 
  outline: #88aaddb2 solid 10px;
  
}


.submit-btn ,.register-btn{
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: darkgrey;
  margin-top: 20px;
  
  
}

.submit-btn:hover, .register-btn:hover{
  background-color: #747272;
}

.Input{
  padding: 2px;
  border-radius: 10px;
}


/* .cardOne{
  margin: 20px;
  
  display: flex;  
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}
.cardTwo{
  width: 100%;
  height: 200px;
  margin: 20px;
 
  display: flex;  
  justify-content: center;
  align-items: center;
} */