.active-items-fragment {
    text-align: center;
    margin: 0 auto;
}

.active-items-fragment > h1 {
    font-size: 32px;
    display: block;
    margin: 2rem 0 2rem 0;
}

.active-listings-container {
    justify-content: center;
    align-content: center;
    gap: 4px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1280px;
}

.active-item-card {
    position: relative;
}