.active-items-fragment {
    text-align: center;
    margin: 0 auto;
}

.active-items-header {
    width: fit-content;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.active-items-header > h2 {
    font-size: 20px;
    display: block;
    margin: 2rem 0 2rem 0;
}

.go-back-btn {
    position: absolute;
    top: 32px;
    left: -35px;
    cursor: pointer !important;
    transition: opacity .5s ease-out !important;
    -moz-transition: opacity .5s ease-out !important;
    -webkit-transition: opacity .5s ease-out !important;
    -o-transition: opacity .5s ease-out !important;
}

.go-back-btn:hover {
    opacity: .5 !important;
}

.active-listings-container {
    justify-content: center !important;
    align-content: center !important;
    gap: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1280px;
}

.active-item-card {
    position: relative;
}