[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
cloudinary = "*"
python-dotenv = "*"
django-cors-headers = "*"
Django = "*"
Pillow = "*"
atomicwrites = "*"
django-phone-field = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest ."
coverage = "pytest . --cov-report term-missing --cov=."
