.profile-container {
}

.profile-options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 2rem;
    margin: auto auto;
    width: fit-content;
}

.profile-options-grid > * {
    margin-top: 2rem;
}

.profile-options-text {
    margin-left: 10px;
}

.avatar-container {
    background-color: lightcoral;
    padding-bottom: 1rem;
}

.avatar-container > h1 {
    font-size: 25px;
}

.avatar-img {
    height: 100px;
    border-radius: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rating-container {
    display: flex;
    flex-direction: column;
}

.ratings-text {
    color: black
}

.message-icon {
    height: 100px;
    padding: 5px;
}

.active-listings-icon {
    height:100px;
}

.options-container {
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    width: fit-content;
    cursor: pointer;
}

.options-container:hover {
    opacity: .5;
}

.claimed-items-icon {
    height: 100px;
}

.edit-profile-icon {
    height: 100px;
}

@media screen and (max-width: 620px) {
    .profile-options-grid {
        margin-top: 1rem;
        grid-template-columns: 1fr;
        gap: .5rem
    }

    .profile-options-grid > * {
        margin-top: .5rem;
    }
    
}